*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  column-gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  cursor: default;
}

.search-form__fieldset-title {
  font-size: inherit;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {  
  width: 225px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  background-color: inherit;
  appearance: none;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  border: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: inline-flex;
  justify-content: space-between;
  min-width: 212px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-end;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  background-color: inherit;
  border: 1px solid currentColor;
  padding: 5px 0;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.search-form__submit-button {
  min-width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  cursor: default;
  margin-top: 10px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;     
  height: 296px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin: 0 0 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: transparent;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 194px;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  max-width: 200px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  max-width: 194px;
  font-weight: 400;
  line-height: 0.9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.more-button {
  min-width: 399px;
}